@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dirty-olive-green: #dee1d0;
  --color-light-brick-orange: #ffdaa9;
  --color-orange-gray: #f1e5d2;
  --color-dark-dirty-olive-green: #dee1d0;
  --color-custom-dark-green: #458753;
  --color-mountains-marker: #228B22;
  --color-water-marker: #007BFF;
  --color-culture-marker: #FFC107;
  --color-weather-marker: #FF5722;
  --color-budget-marker: #6F42C1;
  --color-camping-marker: #8B4513;
  --color-children-marker: #DC3545;
  --color-custom-straw: #fdcc6b;
  --color-light-background: #fcfcfc;
  --font-annie-use-your-telescope: 'Annie Use Your Telescope', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix for markdown editor dark mode */
[data-color-mode="light"] {
  --color-canvas-default: #ffffff;
  --color-border-default: #d0d7de;
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #cf222e;
  --color-done-fg: #8250df;
  --color-done-emphasis: #8250df;
  --color-severe-fg: #9a6700;
  --color-success-fg: #116329;
  --color-success-emphasis: #116329;
  --color-warning-fg: #9a6700;
  --color-warning-emphasis: #9a6700;
  --color-dirty-olive-green: #dee1d0;
  --color-custom-straw: #fdcc6b;
}


@layer utilities {
  .checkbox-container {
    display: block;
    position: relative;
    /* padding-left: 35px; */

    
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    /* background-color: var(--color-custom-dark-green); */
  }

  .checkbox-container input:checked {
    color: #27377d;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

}