@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-olive-green: #bcc691;
  --color-light-brick-orange: #ffdaa9;
  --color-orange-gray: #f1e5d2;
  --color-dark-olive-green: #59824b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix for markdown editor dark mode */
[data-color-mode="light"] {
  --color-canvas-default: #ffffff;
  --color-border-default: #d0d7de;
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #cf222e;
  --color-done-fg: #8250df;
  --color-done-emphasis: #8250df;
  --color-severe-fg: #9a6700;
  --color-success-fg: #116329;
  --color-success-emphasis: #116329;
  --color-warning-fg: #9a6700;
  --color-warning-emphasis: #9a6700;
  --color-olive-green: #929e5e;
}
